@using IleriWebFinalProjesi.Models
@using System.Globalization
@model Movie



<div class="single-page-agile-main">
	<div class="container">
		<!-- /w3l-medile-movies-grids -->
		<div class="agileits-single-top">
			<ol class="breadcrumb">
				<li><a href="index.html">Ana Sayfa</a></li>
				<li class="active">@Model.Title</li>
			</ol>
		</div>
		<div class="single-page-agile-info">
			<!-- /movie-browse-agile -->
			<div class="show-top-grids-w3lagile">
				<div class="col-sm-8 single-left">
					<div class="song">
						<div class="song-info">
							<h3>@Model.Title</h3>
						</div>
						<div class="video-grid-single-page-agileits">
							<div data-video="@Model.Trailer_Youtube_Id" id="video"> <img src="@Model.Big_Image" alt="" style="height:350px" class="img-responsive" /> </div>
						</div>
					</div>
					<div class="song-grid-right">
						<div class="description">
							@Model.Description
						</div>
						<div class="share">
							<h5>Share this</h5>
							<div class="single-agile-shar-buttons">
								<ul>
									<li>
										<div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
										<script>
											(function (d, s, id) {
												var js, fjs = d.getElementsByTagName(s)[0];
												if (d.getElementById(id)) return;
												js = d.createElement(s); js.id = id;
												js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.7";
												fjs.parentNode.insertBefore(js, fjs);
											}(document, 'script', 'facebook-jssdk'));</script>
									</li>
									<li>
										<div class="fb-share-button" data-href="https://www.facebook.com/w3layouts" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fw3layouts&amp;src=sdkpreparse">Share</a></div>
									</li>
									<li class="news-twitter">
										<a href="https://twitter.com/w3layouts" class="twitter-follow-button" data-show-count="false">Follow </a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</li>
									<li>
										<a href="https://twitter.com/intent/tweet?screen_name=w3layouts" class="twitter-mention-button" data-show-count="false">Tweet to </a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</li>
									<li>
										<!-- Place this tag where you want the +1 button to render. -->
										<div class="g-plusone" data-size="medium"></div>

										<!-- Place this tag after the last +1 button tag. -->
										<script type="text/javascript">
											(function () {
												var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
												po.src = 'https://apis.google.com/js/platform.js';
												var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
											})();
										</script>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>

					<div class="all-comments">
						<div class="all-comments-info">
							<a href="#">Yorumlar</a>
							<div class="agile-info-wthree-box">
								<form asp-action="AddCommentMovie" asp-controller="Home" method="post">
									<input type="text" name="Name" placeholder="Name" required="">
									<input type="hidden" name="MovieDataId" value="@Model.Id">
									<input type="text" name="Email" placeholder="Email" required="">
									<textarea name="Message" placeholder="Message" required=""></textarea>
									<input type="submit" value="Gönder">
									<div class="clearfix"> </div>
								</form>
							</div>
						</div>
						<div class="media-grids">
							@foreach (var item in ViewBag.GetComment)
							{
								<div class="media">
									<h5>@item.Name</h5>
									<div class="media-left">
										<a href="#">
											<img src="~/images/user.jpg" title="One movies" alt=" " />
										</a>
									</div>
									<div class="media-body">
										<p>@item.Message</p>
										<span>Gönderi Tarihi :<a href="#"> @item.CreatedDate </a></span>
									</div>
								</div>
							}
							
						

						</div>
					</div>
				</div>
				<div class="col-md-4 single-right">
					<h3>Önerilen Filmler</h3>
					<div class="single-grid-right">
						@foreach (var item in ViewBag.RecommendMovies)
						{
							<div class="single-right-grids">
								<div class="col-md-4 single-right-grid-left">
									<a asp-controller="Home" asp-action="GetMovie" asp-route-dataId="@item.Id"><img src="@item.Image" alt="" /></a>
								</div>
								<div class="col-md-8 single-right-grid-right">
									<a asp-controller="Home" asp-action="GetMovie" asp-route-dataId="@item.Id" class="title"> @item.Title</a>
					
									<p class="author"><a href="#" class="author">@item.Rating</a></p>
									<p class="views">@item.Year</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						}
						
				

					</div>
				</div>



				<div class="clearfix"> </div>
			</div>

		</div>
		<!-- //w3l-latest-movies-grids -->
	</div>
</div>

